.hero {
  color: $light-cl;
  text-align: center;
}

.hero__title {
  font-size: 80px;
  line-height: 80px;
  margin: 165px 0 7px 0;
}

.hero__description {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 29px;
}

.hero__btn {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  border: none;
  color: $dark-cl;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;

  &:hover{
   background: $dark-cl; 
  }
}


@media (max-width:1025px) {
  .hero__title {
    margin-top: 115px;
    font-size: 60px;
  }

  .hero__description {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 21px;
  }
}

@media (max-width:770px) {
  .hero__title {
    margin-top: 79px;
    font-size: 45px;
    margin-bottom: 0;
  }

  .hero__description {
    font-size: 15px;
    line-height: 12px;
    margin-bottom: 10px;
  }

  .hero__btn {
    font-size: 12px;
  }
}

@media (max-width:426px) {
  .hero__title {
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 0;
    line-height: 50px;
  }

  .hero__description {
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 10px;
  }

  .hero__btn {
    font-size: 8px;
    padding: 10.5px 25px;
  }

}