.quote {
  background-color: $dark-cl;
  color: $light-cl;
  @include bgp;
  padding: 50px 0;
}

.comments {
  width: 50%;
}

.think {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.press {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  margin-bottom: 80px;
}

.description {
  font-size: 18px;
  line-height: 22px;
  width: 434.95px;
  margin-bottom: 40px;
  font-family: Montserrat;
}

.quote__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  background: rgba(255, 255, 255, 0.08);
  height: 195px;
  width: 400px;
  margin-bottom: 30px;
  border-radius: 8px;
  align-items: center;

  &:nth-child(odd) {
    margin-left: auto;
  }

  &:nth-child(even) {
    margin-right: 90px;
  }
}

.comment__inner {
  display: flex;
  padding: 25px;
}

.guy {
  border-radius: 50%;
  padding-right: 10px;
  height: 50px;
}

.feedback {
  font-family: Montserrat;
  margin-bottom: 9px;
}

.feedback__date {
  font-family: Montserrat;
  opacity: 0.5;
  color: $light-cl;

}

.name {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: $yellow;
}

.profession {
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
}

@media (max-width:1025px) {
  .quote__inner {
    flex-direction: column;
  }
  .comments{
    width: 100%;
  }

  .comment {
    width: 100%;
    height: 170px;
  }

  .quote {
    padding: 95px 0;
  }

  .press {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .description {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 35px;
  }

  .hero__btn {
    margin-bottom: 15px;
  }
}

@media (max-width:770px) {
  .description {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 28px;

  }

  .last {
    flex-direction: column;
  }

  .quote__info {
    text-align: center;
    margin-bottom: 50px;
  }
}

@media (max-width:426px) {
  .quote {
    padding: 55px 0;
  }

  .comment {
    height: 190px;
  }

  .think {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  .press {
    margin-bottom: 8px;
  }
}